<% if (state == 'error') { %>
<% if(!partial) { %>

<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../scripts/meta-in-head.ejs %>
    <% include ../scripts/head.ejs %>
    <link rel="stylesheet"
          href="<%= getAssetUrl("/public/cssmin/errorFriendly/errorFriendly.min.css") %>" />

    <title><%= title %></title>
</head>

<body class="errorPage">
<div id="pageTop"></div>
<% include ../scripts/meta-in-body.ejs %>

<% var container_state = 'container' %>

<% container_state = 'container' %>
<% include ../navigation/top_nav.ejs %>

<div class="<%= container_state %>">
    <% include ../page-widgets/banners/universal_banner.ejs %>

    <% if(Object.keys(errorObject).length > 0){ %>
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-warning error-banner">
                <button type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-hidden="true">&times;</button>
                <strong><%= errorObject.msg || 'An error occurred while processing your request. Please try again' %></strong>
            </div>
        </div>
    </div>
    <% } %>

</div>

<div class="pageHolder">
    <% include ../error/friendlyError.ejs %>
</div>

<% include ../navigation/mainFooter.ejs %>

<!-- JAVASCRIPT -->

<% include ../scripts/bottom-script.ejs %>

<script async
        type="text/javascript"
        src=<%= getAssetUrl("/public/js_files/home.min.js") %>></script>

</body>
</html>

<% } else { %>
<% if(errorObject){ %>
<div class="col-xs-12">
    <div class="alert alert-warning error-banner">
        <button type="button"
                class="close"
                data-dismiss="alert"
                aria-hidden="true">&times;</button>
        <strong><%= errorObject.msg || 'An error occurred while processing your request. Please try again' %></strong>
    </div>
</div>
<% } %>
<% } %>
<% } %>